.main-page {
    /* display: inline; */
    /* margin: auto; */
    /* width: 50%; */
    text-align: center;
}

.god-page {
    /* max-width: 75%; */
    /* display: inline-block; */

    /* margin-left: 20%;
    margin-right: 20%; */

    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

h2 {
    text-align: left;
    /* margin-left: 24px; */
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: 600;
}

.desc {
    font-weight: 500;
    font-size: 15px;
}

.star-top {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 24px;
}

.detailed-new {
    margin-left: 2.5px;
}

.reviews-top {
    margin-left: 5px;
    /* text-align: left; */
}

.try-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 16px;
}

/* .review-box {} */

.main-page>img {
    object-fit: cover;
}

.images-grid {
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 8px;
    /* resize: both; */
    /* overflow: auto; */
    /* width: 500px; */
}


.SpotImage {
    /* aspect-ratio: 324/248; */
    max-width: 545px;
    max-height: 550px;
    aspect-ratio: 261/248;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* Best command */
    object-fit: cover;
}

.fourImages>img {
    max-width: 271px;
    max-height: 283px;
    aspect-ratio: 261/248;
    /* gap: 25px; */
    object-fit: cover;
}

.fourImages {
    display: grid;
    grid-template-areas: "a b" "c d";
    column-gap: 8px;
    row-gap: 8px;
}

.SpotImage-1 {
    filter: hue-rotate(0.25turn);
}

.SpotImage-2 {
    border-top-right-radius: 12px;
    filter: saturate(4);
}

.SpotImage-3 {
    filter: hue-rotate(-0.25turn);
}

.SpotImage-4 {
    border-bottom-right-radius: 12px;
    filter: saturate(0);
}
