.form-main {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-style: groove;
    border-color: #ff5a60;
    border-radius: 12px;
}

.spot-label {
    /* display: inline-block;
    position: relative; */
}

.form-main>input {
    display: inline-block;
    position: relative;
}
