/* TODO Add site wide styles */

* {
    /* font-size: 100%; */
    font-family: 'Montserrat', sans-serif;
}

.Image-house {
    background-image: url(../public/Images/photosoon.jpg);
    object-fit: cover;
}
